body {
  font-family: 'Consolas';
  font-weight: 300;
  position: relative;
}

.roboto {
  font-family: 'Roboto';
}

.bigger-font {
  font-size: 40px;
  line-height: 35px;
}

.slide {
  height: 800px;
  font-size: 70px;
  position: relative;
  text-align: center;
  line-height: 90px;
}

.slide-content {
  left: 0;
  position: absolute;
  top: 400px;
  width: 100%;
}

.spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.well {
  min-height: 60px;
}

.done-true {
  text-decoration: line-through;
}

ul.ng-animate {
  width: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.ng-animate li {
  width: 100%;
  height: 30px;
}

ul.ng-animate li blockquote {
  margin: 20px 0 20px;
}

ul.ng-animate li:first-child blockquote {
  margin: 0 0 20px;
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .page-header h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/*
NG-ANIMATE
*/

.navbar-animation-show {
  -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);

}

.block-enter, .block-leave {
  -webkit-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -moz-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -ms-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  -o-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  position: relative;
  top: 0;
}

.block-enter {
  left: 200px;
  line-height: 0;
  opacity: 0.2;
}

.block-enter-active {
  left: 0;
  line-height: 100%;
  opacity: 1.0;
}

.block-leave {
  left: 0;
  line-height: 100%;
  opacity: 1.0;
}

.block-leave-active {
  left: 200px;
  line-height: 0;
  opacity: 0.2;
}

.animate-enter {
  -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  display: block;
  position: relative;
}
@-webkit-keyframes enter {
  from {
    opacity: 0;
    left: -70px;
  }
  75% {
    left: 15px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes enter {
  from {
    opacity: 0;
    left: -70px;
  }
  75% {
    left: 15px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.animate-leave {
  -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  display: none;
  position: relative;
}
@-webkit-keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    left: -70px;
  }
  25% {
    left: 15px;
  }
  from {
    display: none;
    opacity: 1;
    height: 30px;
    left: 0px;
  }
}
@keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    left: -70px;
  }
  25% {
    left: 15px;
  }
  from {
    opacity: 1;
    height: 30px;
    left: 0px;
  }
}

