<div class="slide">
  <div class="slide-content" style="top: 10px;">
  <div class="row-fluid">
    <div class="span3">
      <div class="well" ng-controller="todoCtrl">
        <div class="container-fluid">
          <div class="row-fluid roboto">
            <h1>Todo List</h1>
            <div class="page-header">
              <h4>
                <small>
                  {{remainingItems().length}} of {{items.length}} remaining
                  <button class="pull-right btn btn-mini" ng-click="archiveDone()">Archive</button>
                </small>
              </h4>
            </div>
            <ul class="nav nav-tabs nav-stacked">
              <li ng-repeat="item in items" class="done-{{item.done}}" ng-animate="'todo'">
                <label class="checkbox">
                  <input type="checkbox" ng-model="item.done">
                  {{item.name}}
                </label>
              </li>
            </ul>
            <div class="row-fluid">
              <div class="control-group">
                <input class="input-block-level" type="text" ng-model="newTodo" placeholder="New Todo" ng-keyup="addTodo($event)">
                <button class="btn btn-success pull-right" type="button" ng-click="addTodo()">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span9">
        <pre ng-non-bindable>
$scope.addTodo = <b>function</b>() {
  $scope.items.push({
      name: $scope.newTodo, 
      done: false });
  $scope.newTodo = <span class="str">''</span>;
}</pre>
<pre non-bindable>
describe(<span class="str">'#addTodo'</span>, <b>function</b>() {
  beforeEach(<b>function</b>() {
    scope.newTodo = <span class="str">'new todo'</span>;
    scope.addTodo();
  });

  it(<span class="str">'should add a todo'</span>, <b>function</b>() {
    expect(scope.items).toContain({
        name: <span class="str">'new todo'</span>, 
        done: <b>false</b> });
  });

  it(<span class="str">'should empty newTodo variable'</span>, 
    <b>function</b>() {
      expect(scope.newTodo).toEqual(<span class="str">''</span>);
    });
});</pre>
  </div>
  </div>
</div>
</div>