<div class="slide">
  <div class="slide-content" style="top: 150px;">
  <pre>
<span class="elem">.block-enter</span>, <span class="elem">.block-leave</span> {
  <span class="str">transition</span>: 500ms linear all;
}
<span class="elem">.block-enter</span> { <span class="str">left</span>: 200px; }
<span class="elem">.block-enter-active</span> { <span class="str">left</span>: 0; }
<span class="elem">.block-leave</span> { <span class="str">left</span>: 0; }
<span class="elem">.block-leave-active</span> { <span class="str">left</span>: 200px; }</pre>
  </div>
</div>