<div class="slide">
	<div class="slide-content" style="top: 200px;">
    <div class="row-fluid" ng-controller="DirectivesDemoController">
      <div class="span3">
        <div ng-init="letters = ['A','B','C']">
          We've got {{letters.length}} letters!
          <h1 ng-repeat="letter in letters">
            letters[{{$index}}] = {{letter}}
          </h1>
        </div>
      </div>
      <div class="span9">
        <pre ng-non-bindable>
&lt;<span class="elem">div</span> ng-init=<span class="str">"letters = ['A','B','C']"</span>&gt;
  We've got {{letters.length}} letters!
  &lt;<span class="elem">h1</span> ng-repeat=<span class="str">"letter in letters"</span>&gt;
    letters[{{$index}}] = {{letter}}
  &lt;<span class="elem">/h1</span>&gt;
&lt;<span class="elem">/div</span>&gt;</pre>
      </div>
    </div>
  </div>
</div>