<div class="container-fluid">
  <div class="row-fluid" ng-controller="DirectivesDemoController">

    
  <div class="row-fluid">
    <div class="span3">
      <input type="checkbox" ng-model="checked">
      <h1 ng-show="checked">Clicked!</h1>
      <h1 ng-hide="checked">Unclicked...</h1>
    </div>
    <div class="span9">
      <pre ng-non-bindable>
&lt;input type="checkbox" ng-model="checked"&gt;
&lt;h1 ng-show="checked"&gt;Clicked!&lt;/h1&gt;
&lt;h1 ng-hide="checked"&gt;Unclicked...&lt;/h1&gt;
      </pre>
    </div>
  </div>


    

  </div>
</div>