<div class="container-fluid">
  <div class="row-fluid" ng-controller="DirectivesDemoController">
    <div class="page-header">
      <h1>Directives</h1>
    </div>
    
  <div class="row-fluid">
    <div class="span3">
      <div ng-init="letters = ['A','B','C']">
        letters array has {{letters.length}} elements.
        <h1 ng-repeat="letter in letters">
          letters[{{$index}}] = {{letter}}
        </h1>
      </div>
    </div>
    <div class="span9">
      <pre ng-non-bindable>
&lt;div ng-init="letters = ['A','B','C']"&gt;
  letters array has {{letters.length}} elements.
  &lt;h1 ng-repeat="letter in letters"&gt;
    letters[{{$index}}] = {{letter}}
  &lt;/h1&gt;
&lt;/div&gt;
      </pre>
    </div>
  </div>


    

  </div>
</div>