<div class="container-fluid">
  <div class="row-fluid" ng-controller="DirectivesDemoController">
    <div class="page-header">
      <h1>Directives</h1>
    </div>
    
  <div class="row-fluid">
    <div class="span6">
      <input type="text" value="0" ng-model="count"><br />
      <h3>Count: {{count}}</h3>

      <ul ng-show="count > 0">
        <li ng-repeat="item in items">Item #{{item.index}}</li>
      </ul>
    </div>
    <div class="span6">
      <pre ng-non-bindable>
&lt;input ng-model="count" /&gt;
&lt;ul&gt;
  &lt;li ng-repeat="item in items" /&gt;
&lt;/ul&gt;
      </pre>
    </div>
  </div>


    

  </div>
</div>