<div class="container-fluid">
  <div class="row-fluid">
    <div class="page-header">
      <h1>Directives</h1>
    </div>

    Checkbox: <input type="checkbox" ng-model="checkbox1"><br>
    <h3 ng-show="checkbox1">Clicked!</h3>
    <h3 ng-hide="checkbox1">Unclicked...</h3>

    <!-- <input type="button" value="Add One" ng-click="count = count + 1" ng-init="count=1"><br>
    <h3>Count: {{count}}</h3> -->

    <!-- <div ng-init="letters = ['A','B','C']">
      letters array has {{letters.length}} elements.
       <h3 ng-repeat="letter in letters">
         letters[{{$index}}] = {{letter}}
      </h3>
    </div>  -->
    
  </div>
</div>