<div class="container-fluid">
  <div class="row-fluid">
    <div class="page-header">
      <h1>AngularJS Google Talk <small>30/07/2013</small></h1>
    </div>
    <div class="span12">
      <h3>Speakers</h3>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <p><strong>Maximilian Hoffmann</strong> <em>Web developer at Fidelity Ireland. Currently studying Computer Applications in DCU. 1 year of professional experience in web development using Open Source powered technologies like Ruby, Ruby on Rails, CoffeeScript, RSpec, Jasmine, etc.</em></p>
          </div>
          <div class="span4">
            <p><strong>Will Brennan</strong> <em>Developer at Publicis D Healthcare. Recently started working at Publicis, on web applications and native iOS apps.</em></p>
          </div>
          <div class="span4">
            <p><strong>Ravi Chodavarapu</strong> <em>Ravi is a software consultant, working in the Java ecosystem for 7 years - primarily on enterprise applications built with JEE technologies, and software tools built with the Eclipse SDK.</em></p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span6">
            <h3>Discussion</h3>
            <div class="container-fluid">
              <div class="row-fluid">
                <ol>
                  <li>Bindings</li>
                  <ul>
                    <li>AngularJS extends HTML</li>
                    <li>Dynamic Views without handling DOM elements</li>
                    <li>Code reduction</li>
                  </ul>
                  <li>Directives</li>
                  <ul>
                    <li>Change behavior of existing or new elements</li>
                    <li>Element functionality</li>
                    <li>customise HTML elements</li>
                    <li>Build in directives</li>
                  </ul>
                  <li>Controllers and Scope</li>
                  <ul>
                    <li>Controller directs data to the model</li>
                    <li>Boundaries of scope</li>
                    <li>defining scope variable</li>
                  </ul>
                  <li>MVC</li>
                  <ul>
                    <li>Front End MVC</li>
                    <li>Dynamic loading</li>
                    <li>only load what's necessary</li>
                    <li>grouping functionality by controller</li>
                  </ul>
                  <li>Modules & Dependency Injection</li>
                  <ul>
                    <li>Introduction to Modules</li>
                    <li>Not Asynchronous Loading (can be combined with RequireJS)</li>
                    <li>Introduction to Dependency Injection</li>
                    <li>Factory Methods</li>
                    <li>Config Blocks, Run Blocks</li>
                    <li>injector</li>
                    <li>Use in hawtio (build a hawtio module)</li>
                  </ul>
                  <li>Directives (creating them)</li>
                  <ul>
                    <li>Compilation process</li>
                    <li>Basic directive</li>
                    <li>Scopes and directives</li>
                    <li>Linking function</li>
                    <li>AngularJS/Bootstrap - Angular UI</li>
                  </ul>
                  <li>Services/Filters</li>
                  <ul>
                    <li>Where can services be useful</li>
                    <li>Mock services for testing</li>
                    <li>Use unix-like pipes for filtering in ng-repeat expressions</li>
                  </ul>
                  <li>Testing</li>
                  <ul>
                    <li>Jasmine Framework (RSpec like)</li>
                    <li>Controller testing</li>
                    <li>Behaviour driven tests</li>
                    <li>Mocking service calls (for faster test suites)</li>
                  </ul>
                  <li>ng-animate</li>
                  <ul>
                    <li>Animations based on CSS3 transitions (or jQuery)</li>
                    <li>Trigger animations through HTML attributes</li>
                  </ul>
                </ol>
              </div>
            </div>
          </div>
          <div class="span6">
            <h3>Talks</h3>
            <div class="container-fluid">
              <div class="row-fluid">
                <div class="span6">
                  <p><em>A Taste of AngularJS - we will show you how to build an app the AngularJS way</em></p>
                  <dl>
                    <dt>Title of Talk 1</dt>
                    <dd>Basics of AngularJS Introduction to AngularJS concepts.</dd>
                    <dt>Title of Talk 2</dt>
                    <dd>Making it modular We will walk through the tools AngularJS gives you to organize your application into modules. We will also see how to create re-usable components using directives.</dd>
                    <dt>Title of Talk 3</dt>
                    <dd>AngularJS in depth How to properly test your front-end application, and how to define animations in AngularJS using a unique approach (the angular way of thinking).</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>