<div class="slide">
	<div class="slide-content" style="top: 50px;">
<pre>
&lt;<span class="elem">html</span>&gt;
&lt;<span class="elem">head</span>&gt;
&lt;<span class="elem">/head</span>&gt;
&lt;<span class="elem">body</span>&gt;
  &lt;<span class="elem">div</span> ng-show=<span class="str">"users.length > 0"</span>&gt;
    &lt;<span class="elem">grid</span> model=<span class="str">"users"</span>&gt;
    &lt;<span class="elem">/grid</span>&gt;
  &lt;<span class="elem">/div</span>&gt;
&lt;<span class="elem">/body</span>&gt;
&lt;<span class="elem">/html</span>&gt;</pre>
  </div>
</div>
