<div class="slide">
	<div class="slide-content" style="top: 200px;">
<pre>&lt;<span class="elem">div</span> demo-ticker=<span class="str">"outline"</span> slide=<span class="str">"slide"</span>&gt;&lt;<span class="elem">/div</span>&gt;</pre>
<br />
<br />
    <div demo-ticker="outline" slide="4"></div>
    <div demo-ticker="outline" slide="9"></div>
    <div demo-ticker="outline" slide="12"></div>
    <div demo-ticker="outline" slide="23"></div>
    <div demo-ticker="outline" slide="19"></div>
	</div>
</div>
