<div class="slide">
	<div class="slide-content" style="top: 100px;">
  <pre>
template:
  <span class="str">'&lt;div&gt;'</span> + 
    <span class="str">'&lt;span ng-repeat="slide in subset"&gt;'</span> +
      <span class="str">'&lt;span ng-show="..."&gt;{{slide.title}}&lt;/span&gt;'</span> +
      <span class="str">'&lt;span class="highlighted" ng-show="..."&gt;{{slide.title}}&lt;/span&gt;'</span> +
    <span class="str">'&lt;/span&gt;'</span> +
  <span class="str">'&lt;/div&gt;'</span>;</pre>
	</div>
</div>
